.prof, .attr, .hab{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 15px;
}
.attr, .hab{
    width: 25%;
}
h2{
    width: 100%;
}
.prof__campo, .attr__campo, .hab__campo{
    padding: 10px;
    width: 40%;
    display: flex;
}
.prof__name{
    width: 25%;
}